<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Lumos</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/Lumos.styles.css" asp-append-version="true" />
</head>

<body>
  <div class="design-container mx-auto px-48 ">
    <div class="flex justify-between  align-center">
      <div class="logo py-16 px-8">
        <img src="~/img/Logo.svg" alt="Lumos Danışmanlık">
      </div>
      <div class="flex gap-24 align-center">
        <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Anasayfa</a>
        <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Hakkımızda</a>
        <div class="flex gap-8 align-center cursor-pointer open-dropdown">
          <p class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Hizmetler</p>
          <img src="~/img/down-arrow.svg" alt="Lumos Danışmanlık">
        </div>
        <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Emsal Kararlar</a>
        <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Haberler</a>
        <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">SSS</a>
        <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">İletişim</a>
        <a href="/contact">
          <div class="bg-3D0 py-12 px-16 rounded-8 flex gap-8">
            <img src="~/img/tazminat.svg" alt="Lumos Danışmanlık">
            <p class="px-12 font-weight-500 font-size-14 line-height-20 text-white mb-0">Tazminat Hesapla</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  @RenderBody()

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)

  @* <script>
    $('.open-dropdown').click(function(){
      console.log('sdad');
    })
  </script> *@
</body>

</html>
