@{
  ViewData["Title"] = "Home Page";
}
<div class="service-slider-images">
  <div class="index-slider relative" style="background: url(/img/slider1.jpg)no-repeat; background-size: cover; background-position: center; ">
    <div class="absolute">
      <p class="mb-0 text-white">Tüm Kazalara Karşı Hukuksal Danışmanlık</p>
    </div>
  </div>
  <div class="index-slider" style="background: url(/img/slider1.jpg)no-repeat; background-size: cover; background-position: center; "></div>
</div>

