@{
  ViewData["Title"] = "Home Page";
}

<div class="mt-8 banner relative" style="background: url(/img-content/site/img/banner1.jpg)no-repeat; background-size: cover; background-position: center; ">
  <div class="absolute overlay2"></div>
  <div class="absolute text-position px-162 px-24-m">
    <h1 class="font-weight-600 font-size-48 line-height-60 text-white font-size-30-m line-height-36-m">Hakkımızda</h1>
  </div>
</div>

 <div class="bb-1 flex gap-12 align-center py-12 design-container mx-auto px-48 px-24-m">
    <a href="/">
      <img class="w-16 h-16" src="~/img-content/site/icon/Home.svg" alt="Home Page" />
    </a>
    <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
    <a href="/" class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Ana Sayfa</a>
    <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
    <p class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Hakkımızda</p>
  </div>

  <div class="design-container mx-auto px-162 px-24-m py-40">
    <h1 class="text-center text-left-m font-weight-600 font-size-30 line-height-36 color-181-95">Biz Kimiz?</h1>
    <p class="font-weight-400 font-size-16 line-height-24 mt-48 text-center text-left-m color-181-75">
       Lumos Danışmanlık 2015 yılından beri trafik kazası, hasar değer kaybı, araç hasar tazminatı, red hasar dosyaları, iş kazaları, yanlış tedavi alanlarında maddi ve manevi mağduriyeti en aza indirmek için çalışan bir hasar yönetimi ve danışmanlık firmasıdır.
        <br>
        <br>
      Lumos hasar yönetimi ve danışmanlık firması olarak önceliğimiz her türlü tazminat haklarını sahibine ulaştırmak ve mağduriyeti gidermektir.
    </p>
    <h2 class="text-center text-left-m font-weight-600 font-size-30 line-height-36 color-181-95 mt-40">Değerlerimiz</h2>
    <div class="flex flex-wrap-m gap-24 mt-40">
      <div class="deger-card p-16">
        <img class="w-100 h-134" src="img-content/site/img/Section/Card/Team/Img-1.png" alt="">
      </div>
       <div class="deger-card p-16">
        <img class="w-100 h-134" src="img-content/site/img/Section/Card/Team/Img-2.png" alt="">
      </div>
       <div class="deger-card p-16">
        <img class="w-100 h-134" src="img-content/site/img/Section/Card/Team/Img-3.png" alt="">
      </div>
       <div class="deger-card p-16">
        <img class="w-100 h-134" src="img-content/site/img/Section/Card/Team/Img-4.png" alt="">
      </div>
       <div class="deger-card p-16">
        <img class="w-100 h-134" src="img-content/site/img/Section/Card/Team/Img.png" alt="">
      </div>
    </div>
  </div>

  <div class="design-container mx-auto px-162 px-24-m pt-24 pb-48 py-48-m">
    <h2 class="text-center text-left-m font-weight-600 font-size-30 line-height-36 color-181-95">Kalite Politikamız</h2>
    <p class="font-weight-400 font-size-16 line-height-24 mt-48 text-center text-left-m color-181-75">
      Yasal ve hukuki mevzuatlara uyarak şeffaf ve güvenilir hizmet vermek
      <br>
      Hizmet kalitemizi ve çalışan memnuniyetini sürekli arttırmak
      <br>
      Elimizdeki dosyaları eksiksiz ve en hızlı yolla toparlamak
      <br>
      Sigorta şirketlerinde olan sulh ve hukuki dosyalarımızı hızlı ve hiçbir ayrım gözetmeksizin sonuçlandırmak
    </p>
  </div>

  <div class="w-100 h-278 h-208-m relative"
    style="background: url(/img-content/site/img/iletisim.jpg)no-repeat; background-size: cover; background-position: center; ">
    <div class="absolute flex flex-wrap-m justify-between align-center w-100 px-162 px-24-m contact-text-position">
      <div class="grid gap-24">
        <p class="mb-0 font-weight-600 font-size-30 line-height-38 color-181-95 font-size-24-m line-height-32-m">Bizimle
          İletişime Geçin</p>
        <p class="mb-0 font-weight-400 font-size-16 line-height-24 color-181-75 none-m">Tüm soru ve talepleriniz için.
        </p>
      </div>
      <a href="/contact" class="mt-90-m">
        <div class="bg-3D0 py-12 px-16 rounded-8 flex gap-8">
          <p class="px-12 font-weight-500 font-size-14 line-height-20 text-white mb-0">İletişime Geç</p>
        </div>
      </a>
    </div>
  </div>
