@{
  ViewData["Title"] = "Home Page";
}

<div class="mt-8 banner relative" style="background: url(/img-content/site/img/contact.jpg)no-repeat; background-size: cover; background-position: center; ">
  <div class="absolute overlay2"></div>
  <div class="absolute text-position px-162 px-24-m">
    <h1 class="font-weight-600 font-size-48 line-height-60 text-white font-size-30-m line-height-36-m">İletişim</h1>
  </div>
</div>

<div class="bb-1 flex gap-12 align-center py-12 design-container mx-auto px-48 px-24-m">
  <a href="/">
    <img class="w-16 h-16" src="~/img-content/site/icon/Home.svg" alt="Home Page" />
  </a>
  <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
  <a href="/" class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Ana Sayfa</a>
  <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
  <p class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">İletişim</p>
</div>

<div class="design-container mx-auto px-162 px-24-m py-48 py-24-m">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="grid gap-24">
          <h1 class="font-weight-700 font-size-12 line-height-16 color-181-75">Bizimle İletişime Geçin</h1>
          <p class="font-weight-600 font-size-30 line-height-36 color-181-95">İletişim</p>
          <a href="/contact" class="mt-24 w-fit-content">
            <div class="bg-3D0 py-12 px-16 rounded-8 flex gap-8">
              <p class="px-12 font-weight-500 font-size-14 line-height-20 text-white mb-0">İletişime Geç</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 mt-48-m">
        <div class="grid gap-24">
          <p class="font-weight-600 font-size-20 line-height-28 color-181-95 mb-0">Lumos Danışmalık Hizmetleri LTD. ŞTİ.</p>
          <p class="font-weight-400 font-size-16 line-height-24 color-181-95 mb-0">Tüm talep, öneri ve istekleriniz için bizimle iletişime geçebilirsiniz.</p>
          <div class="flex gap-24">
           <img class="w-16 h-16" src="~/img-content/site/icon/phone.svg" alt="Home Page" />
           <p class="font-weight-500 font-size-14 line-height-20 color-181-75 mb-0">+90 232 502 2005</p>
          </div>
          <div class="flex gap-24">
           <img class="w-16 h-16" src="~/img-content/site/icon/mail.svg" alt="Home Page" />
           <p class="font-weight-500 font-size-14 line-height-20 color-181-75 mb-0">info@lumosdanismanlik.com</p>
          </div>
          <div class="flex gap-24">
           <img class="w-16 h-16" src="~/img-content/site/icon/location.svg" alt="Home Page" />
           <p class="font-weight-500 font-size-14 line-height-20 color-181-75 mb-0">Mansuroğlu Mah. 283/6 Sokak No:2 Bayraklı / İZMİR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




