@model Lumos.Areas.Site.Models.ViewModel.IndexModel
@{
  ViewData["Title"] = "Home Page";
}
@* slider *@
<div class="service-slider-images">
  @foreach (var item in Model.SliderList)
  {
     <div class="index-slider relative" style="background: url(/UploadFile/Slider/@item.PhotoPath)no-repeat; background-size: cover; background-position: center; ">
      <div class="absolute grid gap-24 slider-text-position px-210 px-24-m">
        <div class="mb-0 text-white font-weight-600 font-size-48 line-height-60 font-size-30-m line-height-36-m">@Html.Raw(item.SliderLanguageList.Title)</div>
        <a class="none-m mt-24 w-fit-content" href="@item.SliderLanguageList.ButtonUrl">
          <div class="bg-3D0-40 rounded-8 w-fit-content py-16 px-20">
            <p class="mb-0 text-white font-weight-500 font-size-16 line-height-24">@item.SliderLanguageList.ButtonTitle</p>
          </div>
        </a>
      </div>
    </div>
  }
</div>
@* slider *@
@* Intro *@
<div class="desingn-container mx-auto px-162 px-24-m py-48 py-24-m">
  <h1 class="font-weight-600 font-size-30 line-height-36 font-size-24-m line-height-32-m color-181-95">Lumos Danışmanlık
  </h1>
  <p class="mb-0 py-48 py-24-m">
    Lumos Danışmanlık 2015 yılından beri trafik kazası, hasar değer kaybı, araç hasar tazminatı, red hasar dosyaları,
    iş kazaları, yanlış tedavi alanlarında maddi ve manevi mağduriyeti en aza indirmek için çalışan
    bir hasar yönetimi ve danışmanlık firmasıdır.
    <br><br>
    Lumos hasar yönetimi ve danışmanlık firması olarak önceliğimiz
    her türlü tazminat haklarını sahibine ulaştırmak ve mağduriyeti gidermektir.
  </p>
</div>
@* Intro *@
@* categories *@
<div class="desingn-container mx-auto px-162 px-24-m pb-48">
  <div class="flex flex-wrap gap-24">
    <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
    <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
    <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
     <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
     <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
    <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
  </div>
  <p class="mb-0 font-weight-600 font-size-30 line-height-36 color-181-95 mt-72">Trafik Kazası Tazminat Hesaplama</p>
</div>
@* categories *@
@* İletişim *@
<div class="desingn-container mx-auto px-108 px-24-m pb-48">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <img class="w-100 h-652 none-m" src="/img-content/site/img/iletişim-form.jpg" alt="iletişim formu">
      </div>
       <div class="col-lg-8 col-md-12 col-sm-12">
        <p class="mb-0 font-weight-400 font-size-12 line-height-20 color-4D5 pb-16">Doğru Tazminat hesaplama için lütfen tüm bilgileri eksiksiz doldurun.</p>
        <div class="grid gap-16">
          <div class="grid gap-8">
            <label class="font-weight-700 font-size-12 line-height-16 color-4D5" for="name">İsim Soyisim</label>
            <input id="name" class="w-100 p-12 input-border" type="text" placeholder="Giriniz">
          </div>
          <div class="grid gap-8">
            <label class="font-weight-700 font-size-12 line-height-16 color-4D5" for="name">Telefon Numarası</label>
            <input class="p-12 w-100 input-border" type="text" name="name" value="" id="phone" maxlength="20" placeholder="Giriniz" />
          </div>
          <div class="grid gap-8">
            <label class="font-weight-700 font-size-12 line-height-16 color-4D5" for="date ">Doğum Tarihi</label>
            <input class="p-12 w-100 input-border" type="date" name="name" value="" id="date" />
          </div>
          <div class="flex flex-wrap-m gap-24">
            <div class="grid gap-8 w-100">
              <label class="font-weight-700 font-size-12 line-height-16 color-4D5" for="name">Maaşınız</label>
              <select class=" input-border p-12" name="" id="">
                <option selected disabled value="">Şeçiniz</option>
                <option value="Deneme">Deneme</option>
                <option value="Deneme2">Deneme 2</option>
              </select>
            </div>
            <div class="grid gap-8 w-100">
              <label class="font-weight-700 font-size-12 line-height-16 color-4D5" for="date-2">Kaza Tarihi</label>
              <input class="p-12 w-100 input-border" type="date" name="name" value="" id="date" />
            </div>
          </div>
           <div class="flex flex-wrap-m gap-24">
            <div class="grid gap-8 w-100">
              <label class="font-weight-700 font-size-12 line-height-16 color-4D5" for="name">Cinsiyetiniz</label>
              <select class=" input-border p-12" name="" id="">
                <option selected disabled value="">Şeçiniz</option>
                <option value="Kadın">Kadın</option>
                <option value="Erkek">Erkek</option>
              </select>
            </div>
            <div class="grid gap-8 w-100">
              <label class="font-weight-700 font-size-12 line-height-16 color-4D5" for="date-2">Kusur Durumu</label>
              <select class=" input-border p-12" name="" id="">
                <option selected disabled value="">Şeçiniz</option>
                <option value="Deneme">Deneme</option>
                <option value="Deneme2">Dneme-2</option>
              </select>
            </div>
          </div>
          <div class="grid gap-8 w-100">
              <label class="font-weight-700 font-size-12 line-height-16 color-4D5" for="name">Maluliyet Durumu</label>
              <select class=" input-border p-12" name="" id="">
                <option selected disabled value="">Şeçiniz</option>
                <option value="Deneme">Deneme</option>
                <option value="Deneme2">Deneme2</option>
              </select>
           </div>
           <div class="flex gap-12">
            <input class="w-20 h-20" type="checkbox">
            <p class="mb-0 font-weight-400 font-size-12 line-height-20 color-4D5"><a class="mb-0 font-weight-400 font-size-12 line-height-20 color-4D5" href="#">KVKK metnini okudum</a> anladım, onaylıyorum.</p>
           </div>
           <div id="Contact" class="bg-3D0 px-20 py-16 rounded-8 w-fit-content cursor-pointer">
            <div class="flex gap-16 align-center">
              <p class="mb-0 font-weight-500 font-size-16 line-height-24 text-white">Gönder</p>
              <img class="w-20 h-20" src="/img-content/site/icon/right-icon.svg" alt="">
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="desingn-container mx-auto px-162 px-24-m py-80">
   <p class="mb-0 font-weight-600 font-size-30 line-height-36 color-181-95 ">Emsal Kararlar</p>
</div>
<div class="desingn-container mx-auto px-162 px-24-m pb-52">
  <div class="multiple-items">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="grid gap-24">
              <p class="mb-0">Mahkeme, KM düşürmeye emsal niteliğinde karar verdi!</p>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non ut mattis eget sodales at consequat, vulputate.
                Sagittis ornare eget nullam ut. Ipsum, in tortor id eu a velit sed. Consequat amet, elit ornare pharetra in orci tincidunt malesuada pretium.
                Non volutpat diam gravida in velit. Tincidunt mattis ac tristique nisi amet at lectus neque. Erat ante urna nunc, sit.
                Magna nunc viverra eget suspendisse odio dolor. Gravida turpis tellus feugiat sit aliquet.
              </p>
              <a class="w-fit-content" href="">
                <div class="bg-3D0 py-16 px-20 flex gap-16 w-fit-content align-center rounded-8">
                  <p class="mb-0 font-weight-500 font-size-16 line-height-24 color-F2F">Yazının Devamı</p>
                  <img class="w-20 h-20" src="/img-content/site/icon/right-icon.svg" alt="right-icon">
                </div>
              </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img class="slider-picture" src="/img-content/site/img/car.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="grid gap-24">
              <p class="mb-0">Mahkeme, KM düşürmeye emsal niteliğinde karar verdi!</p>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non ut mattis eget sodales at consequat, vulputate.
                Sagittis ornare eget nullam ut. Ipsum, in tortor id eu a velit sed. Consequat amet, elit ornare pharetra in orci tincidunt malesuada pretium.
                Non volutpat diam gravida in velit. Tincidunt mattis ac tristique nisi amet at lectus neque. Erat ante urna nunc, sit.
                Magna nunc viverra eget suspendisse odio dolor. Gravida turpis tellus feugiat sit aliquet.
              </p>
              <a class="w-fit-content" href="">
                <div class="bg-3D0 py-16 px-20 flex gap-16 w-fit-content align-center rounded-8">
                  <p class="mb-0 font-weight-500 font-size-16 line-height-24 color-F2F">Yazının Devamı</p>
                  <img class="w-20 h-20" src="/img-content/site/icon/right-icon.svg" alt="right-icon">
                </div>
              </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img class="slider-picture" src="/img-content/site/img/car.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
@* İletişim *@

<div class="w-100 h-278 h-208-m relative"
    style="background: url(/img-content/site/img/iletisim.jpg)no-repeat; background-size: cover; background-position: center; ">
    <div class="absolute flex flex-wrap-m justify-between align-center w-100 px-162 px-24-m contact-text-position">
      <div class="grid gap-24">
        <p class="mb-0 font-weight-600 font-size-30 line-height-38 color-181-95 font-size-24-m line-height-32-m">Bizimle
          İletişime Geçin</p>
        <p class="mb-0 font-weight-400 font-size-16 line-height-24 color-181-75 none-m">Tüm soru ve talepleriniz için.
        </p>
      </div>
      <a href="/contact" class="mt-90-m">
        <div class="bg-3D0 py-12 px-16 rounded-8 flex gap-8">
          <p class="px-12 font-weight-500 font-size-14 line-height-20 text-white mb-0">İletişime Geç</p>
        </div>
      </a>
    </div>
  </div>
@* <script src="~/Content/Site/js/contact_script.v3.js"></script> *@
<script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async="async" defer="defer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js" integrity="sha512-+gShyB8GWoOiXNwOlBaYXdLTiZt10Iy6xjACGadpqMs20aJOoh+PJt3bwUVA6Cefe7yF7vblX6QwyXZiVwTWGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input, ({
    // bu alan özel ayarlar ekleyebilirsiniz
    initialCountry: "tr",
  }));
  $(document).ready(function () {
    var countryCode = $('.iti__selected-flag').attr('title');
    var countryCode = countryCode.replace(/[^0-9]/g, '')
    $('#phone').val("");
    $('#phone').val("+" + countryCode + " " + $('#phone').val());
    $('.iti__flag-container').click(function () {
      var countryCode = $('.iti__selected-flag').attr('title');
      var countryCode = countryCode.replace(/[^0-9]/g, '')
      $('#phone').val("");
      $('#phone').val("+" + countryCode + " " + $('#phone').val());
    });
  });
  if ($.grep($("#name").val().split(""), char => char.isspace()).length > 0) {
    console.log("The input element contains whitespace characters.");
  } else {
    console.log("The input element does not contain whitespace characters.");
  }
</script>
