@{
  ViewData["Title"] = "Home Page";
}
@* slider *@
<div class="service-slider-images">
  <div class="index-slider relative" style="background: url(/img/slider1.jpg)no-repeat; background-size: cover; background-position: center; ">
    <div class="absolute grid gap-24 slider-text-position px-210 px-24-m">
      <p class="mb-0 text-white font-weight-600 font-size-48 line-height-60 font-size-30-m line-height-36-m">Tüm Kazalara Karşı Hukuksal Danışmanlık</p>
      <a class="none-m mt-24 w-fit-content" href="#">
        <div class="bg-3D0-40 rounded-8 w-fit-content py-16 px-20">
          <p class="mb-0 text-white font-weight-500 font-size-16 line-height-24">Hizmetlerimiz</p>
        </div>
      </a>
    </div>
  </div>
  <div class="index-slider" style="background: url(/img/slider1.jpg)no-repeat; background-size: cover; background-position: center; "></div>
</div>
@* slider *@
@* Intro *@
<div class="desingn-container mx-auto px-162 px-24-m py-48 py-24-m">
  <h1 class="font-weight-600 font-size-30 line-height-36 font-size-24-m line-height-32-m color-181-95">Lumos Danışmanlık</h1>
  <p class="mb-0 py-48 py-24-m">
    Lumos Danışmanlık 2015 yılından beri trafik kazası, hasar değer kaybı, araç hasar tazminatı, red hasar dosyaları,
    iş kazaları, yanlış tedavi alanlarında maddi ve manevi mağduriyeti en aza indirmek için çalışan
    bir hasar yönetimi ve danışmanlık firmasıdır.
    <br><br>
    Lumos hasar yönetimi ve danışmanlık firması olarak önceliğimiz
    her türlü tazminat haklarını sahibine ulaştırmak ve mağduriyeti gidermektir.</p>
</div>
@* Intro *@
@* categories *@
<div class="flex flex-wrap-m "></div>
@* categories *@
