@{
  ViewData["Title"] = "Home Page";
}

<div class="mt-8 banner relative" style="background: url(/img-content/site/img/banner1.jpg)no-repeat; background-size: cover; background-position: center; ">
  <div class="absolute overlay2"></div>
  <div class="absolute text-position px-162 px-24-m">
    <h1 class="font-weight-600 font-size-48 line-height-60 text-white font-size-30-m line-height-36-m">Emsal Kararlar</h1>
  </div>
</div>

 <div class="bb-1 flex gap-12 align-center py-12 design-container mx-auto px-48 px-24-m">
    <a href="/">
      <img class="w-16 h-16" src="~/img-content/site/icon/Home.svg" alt="Home Page" />
    </a>
    <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
    <a href="/" class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Ana Sayfa</a>
    <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
    <p class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Emsal Kararlar</p>
  </div>

<div class="design-container mx-auto px-162 px-24-m py-48 py-24-m">
  <div class="flex flex-wrap-m gap-64 gap-24-m justify-between">
    <h1 class="font-weight-600 font-size-30 line-height-36 color-181-95 white-space-nowrap font-size-24-m line-height-32-m">‘‘Değer Kaydı’’ Yeni Boyut Kazandı!</h1>
    <p class="mb-0 py-24 font-weight-400 font-size-16 line-height-24 color-181-75" style="max-width: 546px;">
      Yargıtay ikinci el araç satışlarında zaman zaman
      tartışmalara neden olan “değer kaybı”
      konusunda emsal bir karara imza attı. Mahkeme, araçların trafik kazaları
      nedeniyle değer kaybı durumunu aydınlattı.
    </p>
  </div>
  <img class="py-48 w-100 service-picture object-fit-cover object-position-center" src="/img-content/site/img/car3.jpg" alt="araba">
  <p class="mb-0 font-weight-400 font-size-16 line-height-24 color-181-75">
    Kazaya karışan araçlardaki değer kayıplarına yönelik tartışmalar Yargıtay 4. Hukuk Dairesi'nin emsal kararıyla yeni bir boyut kazandı. Yüksek mahkeme, 'trafik kazalarında değer kaybı; aracın kazadan önceki ikinci el değeri ile onarıldıktan sonraki ikinci el değeri arasındaki farktır' tanımına dikkat çekti. Emsal kararla birlikte; araçtaki değer kaybı belirlenirken, aracın markası, yaşı, modeli ve hasar gördüğü kısımları dikkate alınarak aracın kaza tarihinden önceki 2. el satış değerinin tespiti ile aracın tamir edildikten sonra ikinci el satış değerinin tespiti ve arasındaki fark göz önüne alınacak.
    <br>
    <br>
    Maddi hasarlı trafik kazası4 sonrası taraflar araçlardaki onarım telaşına düştü. Aracında büyük çapta maddi hasar meydana gelen kazazede, yüzde yüz kusurlu olan aracın trafik sigorta poliçesini düzenleyen sigorta şirketine, araçtaki değer kaybının karşılanması amacıyla dava açtı. Asliye Ticaret Mahkemesi'nin yolunu tutan kazazede, fazlaya ilişkin hakları saklı kalmak kaydıyla araçtaki değer kaybının temerrüt tarihinden işleyecek reeskont faizi ile davalıdan tahsilini talep etti. Davalı avukatı, davanın reddini savundu. Mahkeme; toplanan deliller ve benimsenen bilirkişi raporuna göre, davanın reddine karar verdi. Karar kesinleşince devreye adalet Bakanlığı girdi. Bakanlık, kararın kanun yararına bozulmasını talep etti. Dava dosyasını yeniden inceleyen Yargıtay 4. Hukuk Dairesi, milyonlarca araç sahibini ilgilendiren bir karara imza attı.
  </p>
  <p class="py-48 font-weight-600 font-size-30 line-height-36 color-181-95">Diğer Haberler</p>

  <div class="service-slider-images2">
    <div class="deger-card p-16 relative flex-special mr-24" style="height: 450px; ">
      <img class="w-100 blog-picture" src="/img-content/site/img/car3.jpg" alt="Emsal Karar">
      <p class="mb-0 font-weight-400 font-size-14 line-height-20 color-181-65 mt-16">20.12.2022</p>
      <p class="mb-0 py-16 font-weight-500 font-size-16 line-height-24 color-181-95">“Değer kaybı” yeni boyut kazandı!</p>
      <p class="mb-0 font-weight-400 font-size-14 line-height-20 color-181-65">
        Yargıtay ikinci el araç satışlarında zaman zaman
        tartışmalara neden olan “değer kaybı”
        konusunda emsal bir karara imza attı.
      </p>
      <a class="w-fit-content absolute position-button" href="/precedent-decision-detail">
        <div class="w-fit-content b-1-D4D px-16 py-12">
          <p class="mb-0 font-weight-500 font-size-14 line-height-20 color-717">Devamını Oku</p>
        </div>
      </a>
    </div>
    <div class="deger-card p-16 relative flex-special mr-24" style="height: 450px; ">
      <img class="w-100 blog-picture" src="/img-content/site/img/car3.jpg" alt="Emsal Karar">
      <p class="mb-0 font-weight-400 font-size-14 line-height-20 color-181-65 mt-16">20.12.2022</p>
      <p class="mb-0 py-16 font-weight-500 font-size-16 line-height-24 color-181-95">“Değer kaybı” yeni boyut kazandı!</p>
      <p class="mb-0 font-weight-400 font-size-14 line-height-20 color-181-65">
        Yargıtay ikinci el araç satışlarında zaman zaman
        tartışmalara neden olan “değer kaybı”
        konusunda emsal bir karara imza attı.
      </p>
      <a class="w-fit-content absolute position-button" href="/precedent-decision-detail">
        <div class="w-fit-content b-1-D4D px-16 py-12">
          <p class="mb-0 font-weight-500 font-size-14 line-height-20 color-717">Devamını Oku</p>
        </div>
      </a>
    </div>
    <div class="deger-card p-16 relative flex-special mr-24" style="height: 450px; ">
      <img class="w-100 blog-picture" src="/img-content/site/img/car3.jpg" alt="Emsal Karar">
      <p class="mb-0 font-weight-400 font-size-14 line-height-20 color-181-65 mt-16">20.12.2022</p>
      <p class="mb-0 py-16 font-weight-500 font-size-16 line-height-24 color-181-95">“Değer kaybı” yeni boyut kazandı!</p>
      <p class="mb-0 font-weight-400 font-size-14 line-height-20 color-181-65">
        Yargıtay ikinci el araç satışlarında zaman zaman
        tartışmalara neden olan “değer kaybı”
        konusunda emsal bir karara imza attı.
      </p>
      <a class="w-fit-content absolute position-button" href="/precedent-decision-detail">
        <div class="w-fit-content b-1-D4D px-16 py-12">
          <p class="mb-0 font-weight-500 font-size-14 line-height-20 color-717">Devamını Oku</p>
        </div>
      </a>
    </div>
    <div class="deger-card p-16 relative flex-special mr-24" style="height: 450px; ">
      <img class="w-100 blog-picture" src="/img-content/site/img/car3.jpg" alt="Emsal Karar">
      <p class="mb-0 font-weight-400 font-size-14 line-height-20 color-181-65 mt-16">20.12.2022</p>
      <p class="mb-0 py-16 font-weight-500 font-size-16 line-height-24 color-181-95">“Değer kaybı” yeni boyut kazandı!</p>
      <p class="mb-0 font-weight-400 font-size-14 line-height-20 color-181-65">
        Yargıtay ikinci el araç satışlarında zaman zaman
        tartışmalara neden olan “değer kaybı”
        konusunda emsal bir karara imza attı.
      </p>
      <a class="w-fit-content absolute position-button" href="/precedent-decision-detail">
        <div class="w-fit-content b-1-D4D px-16 py-12">
          <p class="mb-0 font-weight-500 font-size-14 line-height-20 color-717">Devamını Oku</p>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="w-100 h-278 h-208-m relative"
    style="background: url(/img-content/site/img/iletisim.jpg)no-repeat; background-size: cover; background-position: center; ">
    <div class="absolute flex flex-wrap-m justify-between align-center w-100 px-162 px-24-m contact-text-position">
      <div class="grid gap-24">
        <p class="mb-0 font-weight-600 font-size-30 line-height-38 color-181-95 font-size-24-m line-height-32-m">Bizimle
          İletişime Geçin</p>
        <p class="mb-0 font-weight-400 font-size-16 line-height-24 color-181-75 none-m">Tüm soru ve talepleriniz için.
        </p>
      </div>
      <a href="/contact" class="mt-90-m">
        <div class="bg-3D0 py-12 px-16 rounded-8 flex gap-8">
          <p class="px-12 font-weight-500 font-size-14 line-height-20 text-white mb-0">İletişime Geç</p>
        </div>
      </a>
    </div>
  </div>

