@{
  ViewData["Title"] = "Home Page";
}

<div class="mt-8 banner relative" style="background: url(/img-content/site/img/banner1.jpg)no-repeat; background-size: cover; background-position: center; ">
  <div class="absolute overlay2"></div>
  <div class="absolute text-position px-162 px-24-m">
    <h1 class="font-weight-600 font-size-48 line-height-60 text-white font-size-30-m line-height-36-m">Hizmetlerimiz</h1>
  </div>
</div>

 <div class="bb-1 flex gap-12 align-center py-12 design-container mx-auto px-48 px-24-m">
    <a href="/">
      <img class="w-16 h-16" src="~/img-content/site/icon/Home.svg" alt="Home Page" />
    </a>
    <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
    <a href="/" class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Ana Sayfa</a>
    <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
    <p class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Hizmetler</p>
  </div>

<div class="design-container mx-auto px-162 px-24-m py-48 py-24-m">
  <div class="flex flex-wrap-m gap-64 gap-24-m justify-between">
    <h1 class="font-weight-600 font-size-30 line-height-36 color-181-95 white-space-nowrap font-size-24-m line-height-32-m">Hangi Alanlarda Faaliyet <br> Gösteriyoruz?</h1>
    <p class="mb-0 py-24 font-weight-400 font-size-16 line-height-24 color-181-75" style="max-width: 546px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non ut mattis eget sodales at consequat, vulputate.
      Sagittis ornare eget nullam ut.
      Ipsum, in tortor id eu a velit sed. Consequat amet, elit ornare pharetra in orci tincidunt malesuada pretium.
      Non volutpat diam gravida in velit.
    </p>
  </div>
  <div class="flex flex-wrap gap-24">
     <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="/services-detail">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
    <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="/services-detail">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
    <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="/services-detail">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
     <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="/services-detail">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
     <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="/services-detail">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
    <div class="index-card relative " style="background: url(/img-content/site/img/slider.jpg)no-repeat; background-size: cover; background-position: center; ">
      <a href="/services-detail">
        <div class="absolute overlay"></div>
        <div class="absolute card-text">
          <p class="mb-0 font-weight-500 font-size-20 line-height-24 text-white">Trafik Kazası</p>
        </div>
      </a>
    </div>
  </div>
</div>




<script>

</script>
