@{
  ViewData["Title"] = "Home Page";
}

<div class="mt-8 banner relative" style="background: url(/img-content/site/img/banner1.jpg)no-repeat; background-size: cover; background-position: center; ">
  <div class="absolute overlay2"></div>
  <div class="absolute text-position px-162 px-24-m">
    <h1 class="font-weight-600 font-size-48 line-height-60 text-white font-size-30-m line-height-36-m">Hizmetlerimiz</h1>
  </div>
</div>

 <div class="bb-1 flex gap-12 align-center py-12 design-container mx-auto px-48 px-24-m">
    <a href="/">
      <img class="w-16 h-16" src="~/img-content/site/icon/Home.svg" alt="Home Page" />
    </a>
    <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
    <a href="/" class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Ana Sayfa</a>
    <span class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">/</span>
    <p class="mb-0 font-weight-500 font-size-10 line-height-16 color-181-65">Hizmetler</p>
  </div>

<div class="design-container mx-auto px-162 px-24-m py-48 py-24-m">
  <div class="flex flex-wrap-m gap-64 gap-24-m justify-between">
    <h1 class="font-weight-600 font-size-30 line-height-36 color-181-95 white-space-nowrap font-size-24-m line-height-32-m">Trafik Kazası</h1>
    <p class="mb-0 py-24 font-weight-400 font-size-16 line-height-24 color-181-75" style="max-width: 546px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non ut mattis eget sodales at consequat, vulputate.
      Sagittis ornare eget nullam ut.
      Ipsum, in tortor id eu a velit sed. Consequat amet, elit ornare pharetra in orci tincidunt malesuada pretium.
      Non volutpat diam gravida in velit.
    </p>
  </div>
  <img class="py-48 w-100 service-picture object-fit-cover object-position-center" src="/img-content/site/img/car2.jpg" alt="araba">
  <p class="mb-0 font-weight-500 font-size-20 line-height-24 color-181-75">
    Ölümlü Trafik Kazası
    <br>
    <br>
    Bir taşıtın, bir başka taşıta, hayvana, insana ya da bir nesneye çarpması ile gerçekleşen aşırı hız, dikkatsizlik, bilinçsizlik, alkollü araç kullanmak, trafik kurallarına uymamak gibi etmenlerden kaynaklanan Trafik kazaları sonucunda ise, maddi zararlar, yaralanmalar ve ölümler meydana gelebilmekte. Diğer trafik kazası mağduriyetlerinde olduğu gibi ölümlü trafik kazalarında da mağdurun yakınları da etkilenmektedir. Bu durum doğal olarak tazminat hakkı doğurur.
    <br>
    <br>
Ölümlü trafik kazası tazminat miktarı hesaplanırken birçok kritere dikkat edilir. Yukarıda bahsedildiği üzere, bir taşıtın trafik kazası nedeniyle bir zarara sebebiyet vermesi ile bir sorumluluk doğmuş olacaktır. Burada bahsedilen zarar tanımından ise hukuki anlamda anlaşılması gereken, kişinin malvarlığında veya şahıs varlığında iradesi olmaksızın bir azalma olması halidir.
    <br>
    <br>
Ölümlü Trafik Kazası Tazminat Davasını Kimler Açabilir?
    <br>
    <br>
Borçlar Kanunu kapsamında, ölenin yakınları ve ölenin desteğinden mahrum kalanlar tazminat talep etme hakkına sahiptirler. Bu husustan yola çıkarak, ölümlü trafik kazası tazminat talep edebilecek kişiler ölenin annesi, babası, eşi, çocukları, kardeşleri, nişanlısı, bakım ve desteğine muhtaç olan herkestir. Bu noktada ölen kişinin desteğine muhtaç olan kişinin bu hususu ispatlaması gerekmektedir.
Ölümle sonuçlanan trafik kazalarında hem taksirle öldürme nedeniyle ceza sorumluluğu, hem de maddi ve manevi tazminatı içeren hukuki sorumluluk söz konusu olmaktadır. Ölümlü trafik kazalarındaki tazminat sorumluluğu Borçlar Kanunumuzun haksız fiil sorumluluğu ile Karayolları Trafik Kanunumuzun motorlu araç işletenin sorumluluğu hükümlerine dayanmaktadır. Haksız fiil sorumluluğu kusura dayanmakla birlikte motorlu araç işleteninin sorumluluğu kusursuz sorumluluktur. Yani ölümlü bir trafik kazasında motorlu araç işleten kusuru olmasa dahi tazminat sorumlusu olabilecektir. Bu durumda motorlu araç işleteni kazanın mücbir sebepten ya da zarar görenin ya da üçüncü bir kişinin kusurundan kaynaklandığını ispat ederek sorumluluktan kurtulabilir.
    <br>
    <br>
Ölümlü Trafik Kazası Tazminat Davası Kimlere Açılabilir?
    <br>
    <br>
Ölümlü trafik kazası tazminat davası ilk akla geldiği üzere, bir seçenek olarak karşı taraftaki kusurlu araç sürücüsüne karşı açılabilmektedir. Ancak, maddi yetersizlikler gibi birçok sebepten ötürü ikinci bir seçenek olarak, ölümlü trafik kazalarında tazminat davasının sigorta şirketlerine açılması da mümkündür. Karayolları Trafik Kanunu kapsamında, sigorta şirketleri zorunlu mali sorumluluk sigortasında öngörülen sınırlar içerisinde, zarar görenin tazminat talepleri ile bağlıdır.
Zorunlu mali sorumluluk sigortası, kaza halinde öngörülen sınırlar içerisinde zarar gören ile sigorta ettireni koruyan, herhangi bir durumda maddi zararları karşılayan bir sigorta türüdür. Bu nedenle, araçların bu sigortayı yaptırmaları zorunlu tutulmuştur. Zorunlu mali sorumluluk sigortasını, bilinen adıyla trafik sigortasını yaptırmadan araçların trafikte bulunması her ne kadar yasak olsa da trafikte zorunlu mali sorumluluk sigortası olmayan birçok araç bulunmaktadır. Zorunlu mali sorumluluk sigortası bulunmayan araçların üçüncü kişilere zarar verdiği hallerde, zarar gören kişilerin mağdur olmaması açısından bir güvence hesabı kurulmuştur. Böyle durumlarda söz konusu tazminat talebi güvence hesabına karşı yapılacaktır.
    <br>
    <br>
Ölümlü Trafik Kazası Tazminat Davası ile Neler Talep Edilebilir?
    <br>
    <br>
Ölümlü trafik kazalarında maddi tazminat olarak Türk Borçlar Kanunu’nun 54. maddesinde belirtildiği üzere ölüm halinde, “cenaze giderleri, ölüm hemen gerçekleşmemişse tedavi giderleri ile çalışma gücünün azalmasından ya da yitirilmesinden doğan kayıplar, ölenin desteğinden yoksun kalan kişilerin bu sebeple uğradıkları kayıplar” talep edilebilir.
Ölümlü trafik kazalarında manevi tazminat olarak Türk Borçlar Kanunu’nun 56. maddesinde ölüm halinde “ağır bedensel zarar veya ölüm halinde, zarar görenin veya ölenin yakınlarına da manevi tazminat olarak uygun bir miktar paranın ödenmesine” karar verilebileceği belirtilmiştir.
    <br>
    <br>
Ölümlü Trafik Kazası Tazminat Davasında Zamanaşımı
    <br>
    <br>
Karayolları Trafik Kanunu’nda, 109. madde zamanaşımı hususunu düzenlemektedir. İlgili maddenin ikinci fıkrasında, cezayı gerektiren bir fiil var ise ve ceza kanunu bu fiil için daha uzun bir zaman aşımı süresi öngörmüş bulunursa, bu sürenin tazminat talepleri için geçerli olacağını belirterek, ölümlü trafik kazalarında Türk Ceza Kanunu’nun zamanaşımı ile ilgili 85. maddesinin uygulanacağı düzenlenmiştir.
Türk Ceza Kanunu’nun zamanaşımı ile ilgili 85. maddesi gereğince, ölümlü trafik kazası nedeniyle açılan tazminat davalarının zamanaşımı süresi 15 yıldır.
  </p>

</div>


<div class="w-100 h-278 h-208-m relative"
    style="background: url(/img-content/site/img/iletisim.jpg)no-repeat; background-size: cover; background-position: center; ">
    <div class="absolute flex flex-wrap-m justify-between align-center w-100 px-162 px-24-m contact-text-position">
      <div class="grid gap-24">
        <p class="mb-0 font-weight-600 font-size-30 line-height-38 color-181-95 font-size-24-m line-height-32-m">Bizimle
          İletişime Geçin</p>
        <p class="mb-0 font-weight-400 font-size-16 line-height-24 color-181-75 none-m">Tüm soru ve talepleriniz için.
        </p>
      </div>
      <a href="/contact" class="mt-90-m">
        <div class="bg-3D0 py-12 px-16 rounded-8 flex gap-8">
          <p class="px-12 font-weight-500 font-size-14 line-height-20 text-white mb-0">İletişime Geç</p>
        </div>
      </a>
    </div>
  </div>
