<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Lumos</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="~/css/site/style.css" asp-append-version="true" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.18/css/intlTelInput.css" rel="stylesheet" />
  @await RenderSectionAsync("Header", required: false)
</head>

<body>
  @* header *@
  <div class="w-100 bb-1">
    <div class="design-container mx-auto px-48 px-24-m ">
      <div class="flex justify-between  align-center">
        <div class=" py-16 px-8">
          <img class="logo block none-m" src="~/img-content/site/icon/Logo.svg" alt="Lumos Danışmanlık">
          <img class="logo none block-m" src="~/img-content/site/icon//Logo4.svg" alt="Lumos Danışmanlık">
        </div>
        <div class="flex gap-24 align-center none-m relative">
          <a href="/" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Anasayfa</a>
          <a href="/about" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Hakkımızda</a>
          <div class="flex gap-8 align-center cursor-pointer open-dropdown">
            <p class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Hizmetler</p>
            <img src="~/img-content/site/icon/down-arrow.svg" alt="Lumos Danışmanlık">
          </div>
          <div class=" absolute position services-dropdown none-m bg-3D0 w-230">
            <a href="/services">
              <div class="flex justify-between align-center py-12 px-16 bb-1">
                <p class="mb-0 font-weight-500 font-size-14 line-height-24 text-white">Tüm Hizmetleri Gör</p>
                <img class="w-16 h-16" src="/img-content/site/icon/right-icon.svg" alt="">
              </div>
            </a>
            <a href="/services">
              <div class="flex justify-between align-center py-12 px-16 bb-1">
                <p class="mb-0 font-weight-500 font-size-14 line-height-24 text-white">Tüm Hizmetleri Gör</p>
                <img class="w-16 h-16" src="/img-content/site/icon/right-icon.svg" alt="">
              </div>
            </a>
            <a href="/services">
              <div class="flex justify-between align-center py-12 px-16 bb-1">
                <p class="mb-0 font-weight-500 font-size-14 line-height-24 text-white">Tüm Hizmetleri Gör</p>
                <img class="w-16 h-16" src="/img-content/site/icon/right-icon.svg" alt="">
              </div>
            </a>
          </div>
          <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Emsal Kararlar</a>
          <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">Haberler</a>
          <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">SSS</a>
          <a href="" class="font-weight-500 font-size-14 line-height-20 color-181-50 mb-0">İletişim</a>
          <a href="#">
            <div class="bg-3D0 py-12 px-16 rounded-8 flex gap-8">
              <img src="~/img-content/site/icon/tazminat.svg" alt="Lumos Danışmanlık">
              <p class="px-12 font-weight-500 font-size-14 line-height-20 text-white mb-0">Tazminat Hesapla</p>
            </div>
          </a>
        </div>
        <img class="w-32 h-32 none block-m" src="~/img-content/site/icon/open.svg" alt="open-menu">
      </div>
    </div>
  </div>
  @* header *@
  @RenderBody()
  @* Footer *@
  <div class="w-100 h-278 h-208-m relative"
    style="background: url(/img-content/site/img/iletisim.jpg)no-repeat; background-size: cover; background-position: center; ">
    <div class="absolute flex flex-wrap-m justify-between align-center w-100 px-162 px-24-m contact-text-position">
      <div class="grid gap-24">
        <p class="mb-0 font-weight-600 font-size-30 line-height-38 color-181-95 font-size-24-m line-height-32-m">Bizimle
          İletişime Geçin</p>
        <p class="mb-0 font-weight-400 font-size-16 line-height-24 color-181-75 none-m">Tüm soru ve talepleriniz için.
        </p>
      </div>
      <a href="/contact" class="mt-90-m">
        <div class="bg-3D0 py-12 px-16 rounded-8 flex gap-8">
          <p class="px-12 font-weight-500 font-size-14 line-height-20 text-white mb-0">İletişime Geç</p>
        </div>
      </a>
    </div>
  </div>
  <div class="w-100 bg-181">
    <div class="design-container mx-auto px-48 px-24-m ">
      <div class="flex grid-m gap-24 py-28 bb-2">
        <div class="py-28 pr-24 mx-auto">
          <img class="w-100 h-110 block none-m" src="~/img-content/site/icon/Logo2.svg" alt="Lumos Danışmanlık">
          <img class="w-100 h-64 block-m none" src="~/img-content/site/icon/Logo3.svg" alt="Lumos Danışmanlık">
        </div>
        <div class="grid gap-24 w-230">
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65 mt-24" href="/about">Hakkımızda</a>
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65" href="/news">Haberler</a>
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65" href="#">Emsal Kararlar</a>
        </div>
        <div class="grid gap-24 w-230">
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65 mt-24" href="/Hakkımızda">Tarfik Kazası</a>
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65" href="#">Araç Değer Kaybı </a>
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65" href="#">Araç Hasar Tazminatı</a>
        </div>
        <div class="grid gap-24 w-230">
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65 mt-24" href="/Hakkımızda">Tazminat
            Hesaplama</a>
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65" href="#">SSS</a>
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65" href="/contact">İletişim</a>
        </div>
        <div class="grid gap-24 w-230">
          <a class="font-weight-500 font-size-16 line-height-24 text-white mt-24" href="#">0 (232) 333 22 11</a>
          <a class="font-weight-400 font-size-14 line-height-20 color-FFF-65" href="#">info@lumosdanismanlik.com</a>
          <div class="flex gap-24">
            <a href="#"><img class="w-100 h-110" src="~/img-content/site/icon/Social Icons.svg" alt="Facebook"></a>
            <a href="#"><img class="w-100 h-110" src="~/img-content/site/icon/Social Icons-1.svg" alt="Facebook"></a>
            <a href="#"><img class="w-100 h-110" src="~/img-content/site/icon/Social Icons-2.svg" alt="Facebook"></a>
            <a href="#"><img class="w-100 h-110" src="~/img-content/site/icon/Social Icons-3.svg" alt="Facebook"></a>
            <a href="#"><img class="w-100 h-110" src="~/img-content/site/icon/Social Icons-4.svg" alt="Facebook"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="design-container mx-auto px-48 px-24-m py-28">
      <div class="flex grid-m gap-24-m justify-between">
        <p class="mb-0 flex font-weight-400 font-size-14 line-height-20px color-FFF-65 order-6-m">©2022 Lumos
          Danışmanlık -
          Tüm hakları saklıdır.</p>
        <div class="flex gap-32 order-1-m">
          <a class="mb-0 font-weight-400 font-size-14 line-height-20px color-FFF-65" href="#">Çerez Politikası</a>
          <a class="mb-0 font-weight-400 font-size-14 line-height-20px color-FFF-65" href="#">KVKK</a>
        </div>
        <a target="_blank" class="order-12-m flex mx-auto-m" href="https://www.pryazilim.com/">
          <img class="pr-logo" src="~/img-content/site/icon/PryazilimIcon.svg" alt="Alternate Text" />
        </a>
      </div>
    </div>
  </div>
  @* footer *@

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="~/js/site/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)

  <script>
    $('.open-dropdown').click(function() {
       if ($(".services-dropdown").css("display") == "none") {
        $('.services-dropdown').css('display','grid');

      }
      else {
         $('.services-dropdown').css('display','none');
      }
    });
  </script>

</body>

</html>
